streamlit
protobuf==3.20.3
sqlite3 >= 3.35.0
numpy
python-dotenv
requests
groq
fastapi
uvicorn
torch
torchaudio
transformers
langchain
langchain-community
langchain-groq
langchain-chroma
chromadb
sentence-transformers
