protobuf==3.20.3
pysqlite3-binary==0.5.2.post2

streamlit
chromadb==0.6.3
langchain
langchain-chroma
langchain-community
langchain-groq
opentelemetry-exporter-otlp-proto-grpc

numpy
python-dotenv
requests
groq
torch
torchaudio
transformers
sentence-transformers
