node_modules
.git
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
.vscode
.DS_Store
*.egg-info/
*.bak
*.swp
*.tmp
*.cache
*.coverage
.coverage.*
.pytest_cache/
.tox/
.mypy_cache/
resources/
assets/
.streamlit/
uploads/