__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
.git
.gitignore
.vscode
.DS_Store
*.egg-info/
*.bak
*.swp
*.tmp
*.cache
*.coverage
.coverage.*
.pytest_cache/
.tox/
.mypy_cache/
resources/
test_redis.py
assets/
resources/
.streamlit/
# Ignore Docker-related files
Dockerfile
docker-compose.yml
Dockerfile.fastapi
Dockerfile.streamlit