python-dotenv
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
groq
pypdf
XlsxWriter
rank_bm25
# for tts function
gtts
pygame 
langdetect
langid
# for fastapi
fastapi
uvicorn
# for speech-to-text
openai-whisper
ffmpeg-python
#for backend
redis
python-multipart